<h1>New Insurance</h1>
<h2>Form for a new insurance would go here.</h2>
<%= link_to "Go to Insurances", insurances_path, method:'get' %>
<%= link_to "Go to Loans", loans_path, method:'get' %>
<%= link_to "Create New Loan", loans_new_path %> <br>
<% if session[:user_id] %>
    <%= link_to "Log Out", logout_path, method:'delete' %>
    <% else %>
    <%= link_to "Log In", login_path %><br>
<% end %>

<%= form_for @insurance do |f| %>
  <!-- Customer Name -->
  <%= f.label :customer_name %>
  <%= f.text_field :customer_name %> <br>

  <!-- Insurance Policy -->
  <%= f.label :insurance_policy %>
  <%= f.text_field :insurance_policy %> <br>

  <!-- Total Coverage Amount -->
  <%= f.label :total_coverage_amount %>
  <%= f.number_field :total_coverage_amount %> <br>

  <!-- Premium Amount -->
  <%= f.label :premium_amount %>
  <%= f.number_field :premium_amount %> <br>

  <!-- Due Date -->
  <%= f.label :due_date %>
  <%= f.date_field :due_date %> <br>

  <!-- Maturity Date if team policy and due paid/not paid -->
  <%= f.label :maturity_date %>
  <%= f.date_field :maturity_date %> <br>

  <%= f.submit %>
<% end %>
