<h1>Individual Insurance</h1>
<h2>Show a single insurance, and all of it's information.</h2>
<% if @insurance %>
  <p>Customer Name: <%= @insurance.customer_name %></p>
  <p>Insurance Policy: <%= @insurance.insurance_policy %></p>
  <p>Total Coverage Amount: <%= @insurance.total_coverage_amount %></p>
  <p>Premium Amount: <%= @insurance.premium_amount %></p>
  <p>Due Date: <%= @insurance.due_date %></p>
  <p>Maturity Date: <%= @insurance.maturity_date %></p>
  <p>Admin Approved?
    <% if @insurance.approval %>
      yes
      <% else %>
      no
      <%= link_to "Edit Approval?", edit_insurance_path %>
      <!-- link_to "Edit Approval?", edit_insurance_path(@insurance) -->
      <!-- link_to "Edit Approval?", insurances_edit_path(@insurance) if isAdmin?(session[:user_id]) -->
    <% end %>
  </p>
<% end %>
