<h1>Edit Loan</h1>
<h2>Admin can approve the loan here.<h2>
<% if @loan %>
  <p>Customer Name: <%= @loan.customer_name %></p>
  <p>Loan Type: <%= @loan.loan_type %></p>
  <p>Loan Amount: <%= @loan.loan_amount %></p>
  <p>Pending Principle Amount: <%= @loan.pending_principle_amount %></p>
  <p>Interest Rate: <%= @loan.interest_rate %></p>
  <p>Loan Closed: <% if @loan.loan_closed %>
    Closed
    <% else %>
    Open
    <% end %>
  <p>Due Date: <%= @loan.due_date %></p>
<% end %>
<p>Approve this loan?</p>
<%= form_for @loan do |f| %>
  <%= f.hidden_field :approval, value: true %>
  <%= f.submit %>
<% end %>
